Directory_Scraper_V1.4_fixed.json
{
  "name": "Directory Scraper V1.4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 304],
      "id": "node-manual-trigger",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jozi-scrape",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "node-webhook",
      "name": "Webhook \u2013 Trigger from Admin UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "jozi-scrape-trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first()?.json?.body ?? $input.first()?.json ?? {};\nreturn [{\n  json: {\n    niche_name:  String(body.niche_name  ?? '').trim(),\n    niche_slug:  String(body.niche_slug  ?? '').trim(),\n    search_term: String(body.search_term ?? '').trim(),\n    location:    String(body.location    ?? '').trim(),\n    serpApiKey:  process.env.SERP_API_KEY ?? '',\n  }\n}];"
      },
      "id": "node-normalise",
      "name": "Code \u2013 Normalise Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "options": {}
      },
      "id": "node-read-queue-webhook",
      "name": "Google Sheets \u2013 Read Queue (Webhook)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [416, 0],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "jsCode": "// Webhook path: find the pending queue row matching niche_name + location.\n// Returns row_number + timestamps if found, [] if no match (skips mark-done cleanly).\nconst ctx = $('Code \u2013 Normalise Webhook Input').first()?.json ?? {};\nconst ctxNiche = String(ctx.niche_name ?? '').trim().toLowerCase();\nconst ctxLoc   = String(ctx.location   ?? '').trim().toLowerCase();\n\nconst allRows = $input.all();\nconst match = allRows.find(item => {\n  const rowNiche  = String(item.json['niche_name'] ?? '').trim().toLowerCase();\n  const rowLoc    = String(item.json['location']   ?? '').trim().toLowerCase();\n  const rowStatus = String(item.json['status']     ?? '').trim().toLowerCase();\n  return rowNiche === ctxNiche && rowLoc === ctxLoc && rowStatus === 'pending';\n});\n\nif (!match) return [];\n\nreturn [{ json: {\n  row_number: match.json['row_number'],\n  scraped_at: new Date().toISOString(),\n  status: 'done'\n} }];"
      },
      "id": "node-find-row-webhook",
      "name": "Code \u2013 Find Row (Webhook)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [624, 0]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": ["row_number"],
          "schema": [
            { "id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": true,  "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true },
            { "id": "scraped_at", "displayName": "scraped_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",     "displayName": "status",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-mark-done-webhook",
      "name": "Google Sheets \u2013 Mark Row Done (Webhook)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [832, 0],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "options": {}
      },
      "id": "node-read-queue-manual",
      "name": "Google Sheets \u2013 Read Scrape Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [208, 304],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\nconst pending = allRows.find(item => String(item.json['status'] ?? '').trim().toLowerCase() === 'pending');\nif (!pending) throw new Error('No pending rows in Scrape Queue.');\nconst row = pending.json;\nconst nicheSlug = String(row['niche_name'] ?? '').trim().toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\nreturn [{ json: {\n  niche_name:  String(row['niche_name']  ?? '').trim(),\n  niche_slug:  nicheSlug,\n  search_term: String(row['search_term'] ?? '').trim(),\n  location:    String(row['location']    ?? '').trim(),\n  row_number:  row['row_number'],\n  serpApiKey:  process.env.SERP_API_KEY ?? '',\n} }];"
      },
      "id": "node-get-pending",
      "name": "Code \u2013 Get Next Pending Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 304]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine",  "value": "google_maps" },
            { "name": "q",       "value": "={{ $json.search_term + ' ' + $json.location }}" },
            { "name": "type",    "value": "search" },
            { "name": "api_key", "value": "={{ $json.serpApiKey }}" }
          ]
        },
        "options": {}
      },
      "id": "node-serpapi",
      "name": "SerpApi \u2013 Google Maps Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [832, 160],
      "credentials": { "serpApi": { "id": "lIeYKYlHAUyvZXKR", "name": "SerpAPI account" } }
    },
    {
      "parameters": { "fieldToSplitOut": "local_results", "options": {} },
      "id": "node-split",
      "name": "Split \u2013 Individual Business Results",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [1040, 160]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet ctx = {};\ntry { ctx = $('Code \u2013 Get Next Pending Row').first().json; } catch(e) {}\nif (!ctx.niche_name) {\n  try { ctx = $('Code \u2013 Normalise Webhook Input').first().json; } catch(e) {}\n}\n\nfunction extractSuburb(address) {\n  if (!address) return '';\n  let s = address.replace(/,\\s*South Africa\\s*$/i, '').trim();\n  s = s.replace(/,\\s*\\d{4}\\s*$/, '').trim();\n  const parts = s.split(',').map(p => p.trim()).filter(Boolean);\n  if (parts.length >= 2) return parts[parts.length - 2];\n  return parts[parts.length - 1] || '';\n}\n\nreturn items.map(item => {\n  const r = item.json;\n  const website = r.website ?? '';\n  const address = r.address ?? '';\n  const placeId = r.place_id ?? r.data_id ?? (String(r.title ?? '') + '_' + address);\n  const googleMapsUrl = placeId ? 'https://www.google.com/maps/place/?q=place_id:' + placeId : '';\n  return { json: {\n    niche:           ctx.niche_name,\n    business_name:   r.title ?? '',\n    address,\n    suburb:          extractSuburb(address),\n    phone:           String(r.phone ?? 'N/A'),\n    website,\n    has_website:     website !== '' ? 'TRUE' : 'FALSE',\n    rating:          r.rating ?? '',\n    review_count:    r.reviews ?? 'N/A',\n    google_maps_url: googleMapsUrl,\n    scraped_at:      new Date().toISOString(),\n    _place_id:       placeId,\n  } };\n});"
      },
      "id": "node-extract",
      "name": "Code \u2013 Extract & Map Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1248, 160]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 1275442432, "mode": "list", "cachedResultName": "Results" },
        "options": {}
      },
      "id": "node-read-results",
      "name": "Google Sheets \u2013 Read Existing Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1440, 304],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {},
      "id": "node-merge-results",
      "name": "Merge \u2013 New + Existing",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1648, 160]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\nconst existingUrls = new Set(\n  allItems.filter(item => item.json.row_number !== undefined)\n    .map(item => String(item.json['google_maps_url'] ?? '').trim()).filter(u => u !== '')\n);\nconst newResults = allItems.filter(item => item.json.row_number === undefined);\nif (newResults.length === 0) return [];\nreturn newResults.filter(item => {\n  const url = String(item.json['google_maps_url'] ?? '').trim();\n  return url !== '' && !existingUrls.has(url);\n}).map(item => ({ json: item.json }));"
      },
      "id": "node-dedup",
      "name": "Code \u2013 Deduplicate by URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1840, 160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 1275442432, "mode": "list", "cachedResultName": "Results" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [],
          "schema": [
            { "id": "niche",           "displayName": "niche",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "business_name",   "displayName": "business_name",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "address",         "displayName": "address",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "suburb",          "displayName": "suburb",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "phone",           "displayName": "phone",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "website",         "displayName": "website",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "has_website",     "displayName": "has_website",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "rating",          "displayName": "rating",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "review_count",    "displayName": "review_count",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "google_maps_url", "displayName": "google_maps_url", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "scraped_at",      "displayName": "scraped_at",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "_place_id",       "displayName": "_place_id",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": { "cellFormat": "RAW" }
      },
      "id": "node-append-results",
      "name": "Google Sheets \u2013 Append to Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [2048, 160],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "jsCode": "const newListings = $('Code \u2013 Deduplicate by URL').all().map(i => i.json);\nif (newListings.length === 0) return [];\nconst nicheSlug = (newListings[0]?.niche ?? '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\nconst githubToken  = process.env.GITHUB_TOKEN  ?? '';\nconst githubRepo   = process.env.GITHUB_REPO   ?? '';\nconst githubBranch = process.env.GITHUB_BRANCH ?? 'main';\nreturn [{ json: { niche_slug: nicheSlug, listings: newListings, count: newListings.length, githubToken, githubRepo, githubBranch } }];"
      },
      "id": "node-format-batch",
      "name": "Code \u2013 Format Ingest Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2256, 160]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $json.githubRepo + '/contents/data/' + $json.niche_slug + '.json' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization",        "value": "={{ 'Bearer ' + $json.githubToken }}" },
          { "name": "Accept",               "value": "application/vnd.github+json" },
          { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
        ]},
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "node-gh-get",
      "name": "GitHub \u2013 GET Current File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2464, 160]
    },
    {
      "parameters": {
        "jsCode": "const batch  = $('Code \u2013 Format Ingest Batch').first().json;\nconst ghFile = $input.first().json;\nlet existing = [], sha = null;\nif (ghFile.content) {\n  try {\n    const raw = Buffer.from(ghFile.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n    existing = JSON.parse(raw);\n    sha = ghFile.sha ?? null;\n  } catch(e) { existing = []; sha = null; }\n}\nconst existingIds = new Set(existing.map(r => r._place_id).filter(Boolean));\nconst toAdd = batch.listings.filter(r => r._place_id && !existingIds.has(r._place_id));\nconst merged = [...existing, ...toAdd];\nconst encoded = Buffer.from(JSON.stringify(merged, null, 2) + '\\n').toString('base64');\nreturn [{ json: {\n  niche_slug: batch.niche_slug, sha, content: encoded,\n  added: toAdd.length, total: merged.length,\n  message: 'chore(data): add ' + toAdd.length + ' listings to ' + batch.niche_slug + '.json [n8n]',\n  githubToken: batch.githubToken, githubRepo: batch.githubRepo, githubBranch: batch.githubBranch,\n} }];"
      },
      "id": "node-merge-gh",
      "name": "Code \u2013 Merge & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2672, 160]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/' + $json.githubRepo + '/contents/data/' + $json.niche_slug + '.json' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization",        "value": "={{ 'Bearer ' + $json.githubToken }}" },
          { "name": "Accept",               "value": "application/vnd.github+json" },
          { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, content: $json.content, ...($json.sha ? { sha: $json.sha } : {}), branch: $json.githubBranch }) }}",
        "options": {}
      },
      "id": "node-gh-put",
      "name": "GitHub \u2013 PUT Commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2880, 160]
    },
    {
      "parameters": {
        "jsCode": "// Manual/queue path only.\n// In webhook mode, Code – Get Next Pending Row never ran so this returns [] cleanly.\nlet row_number;\ntry { row_number = $('Code \u2013 Get Next Pending Row').first()?.json?.row_number; } catch(e) { return []; }\nif (!row_number) return [];\nreturn [{ json: { row_number, scraped_at: new Date().toISOString(), status: 'done' } }];"
      },
      "id": "node-prepare-mark-done",
      "name": "Code \u2013 Prepare Mark Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1040, 464]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": ["row_number"],
          "schema": [
            { "id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": true,  "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true },
            { "id": "scraped_at", "displayName": "scraped_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",     "displayName": "status",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-mark-done-manual",
      "name": "Google Sheets \u2013 Mark Row Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1248, 464],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'":        { "main": [[{ "node": "Google Sheets \u2013 Read Scrape Queue",         "type": "main", "index": 0 }]] },
    "Webhook \u2013 Trigger from Admin UI":     { "main": [[{ "node": "Code \u2013 Normalise Webhook Input",           "type": "main", "index": 0 }]] },
    "Code \u2013 Normalise Webhook Input":      { "main": [[
      { "node": "SerpApi \u2013 Google Maps Search",           "type": "main", "index": 0 },
      { "node": "Google Sheets \u2013 Read Queue (Webhook)",   "type": "main", "index": 0 }
    ]] },
    "Google Sheets \u2013 Read Queue (Webhook)":{ "main": [[{ "node": "Code \u2013 Find Row (Webhook)",               "type": "main", "index": 0 }]] },
    "Code \u2013 Find Row (Webhook)":           { "main": [[{ "node": "Google Sheets \u2013 Mark Row Done (Webhook)", "type": "main", "index": 0 }]] },
    "Google Sheets \u2013 Read Scrape Queue":   { "main": [[{ "node": "Code \u2013 Get Next Pending Row",             "type": "main", "index": 0 }]] },
    "Code \u2013 Get Next Pending Row":         { "main": [[{ "node": "SerpApi \u2013 Google Maps Search",            "type": "main", "index": 0 }]] },
    "SerpApi \u2013 Google Maps Search":        { "main": [[
      { "node": "Split \u2013 Individual Business Results",    "type": "main", "index": 0 },
      { "node": "Code \u2013 Prepare Mark Done",               "type": "main", "index": 0 }
    ]] },
    "Code \u2013 Prepare Mark Done":            { "main": [[{ "node": "Google Sheets \u2013 Mark Row Done",          "type": "main", "index": 0 }]] },
    "Split \u2013 Individual Business Results": { "main": [[{ "node": "Code \u2013 Extract & Map Fields",           "type": "main", "index": 0 }]] },
    "Code \u2013 Extract & Map Fields":         { "main": [[
      { "node": "Google Sheets \u2013 Read Existing Results",  "type": "main", "index": 0 },
      { "node": "Merge \u2013 New + Existing",                 "type": "main", "index": 0 }
    ]] },
    "Google Sheets \u2013 Read Existing Results":{ "main": [[{ "node": "Merge \u2013 New + Existing",              "type": "main", "index": 1 }]] },
    "Merge \u2013 New + Existing":              { "main": [[{ "node": "Code \u2013 Deduplicate by URL",            "type": "main", "index": 0 }]] },
    "Code \u2013 Deduplicate by URL":           { "main": [[{ "node": "Google Sheets \u2013 Append to Results",    "type": "main", "index": 0 }]] },
    "Google Sheets \u2013 Append to Results":   { "main": [[{ "node": "Code \u2013 Format Ingest Batch",           "type": "main", "index": 0 }]] },
    "Code \u2013 Format Ingest Batch":          { "main": [[{ "node": "GitHub \u2013 GET Current File",             "type": "main", "index": 0 }]] },
    "GitHub \u2013 GET Current File":           { "main": [[{ "node": "Code \u2013 Merge & Deduplicate",           "type": "main", "index": 0 }]] },
    "Code \u2013 Merge & Deduplicate":          { "main": [[{ "node": "GitHub \u2013 PUT Commit",                  "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "v1.4-fixed-split-mark-done",
  "meta": { "instanceId": "f0f910fc8550da54777e0bec9e51d069c92af943197d439592dcb4ca0e24aa45" },
  "id": "nlN4ejAgnzJ0qIOz",
  "tags": []
}
