Directory_Scraper_V1.1_fixed.json
{
  "name": "Directory Scraper V1.1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 304],
      "id": "7a2b91b0-bf99-4700-a311-c7b40bb323a2",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jozi-scrape",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a4d4fbd7-e46c-4982-81f1-44d16314a8ff",
      "name": "Webhook – Trigger from Admin UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "webhookId": "jozi-scrape-trigger"
    },
    {
      "parameters": {
        "jsCode": "// Router: normalise input from either trigger.\n// Webhook payload: { niche_name, niche_slug, search_term, location }\n// Manual/Queue path: data already handled by 'Code – Get Next Pending Row'\nconst body = $input.first()?.json?.body ?? $input.first()?.json ?? {};\nreturn [{\n  json: {\n    niche_name:  String(body.niche_name  ?? '').trim(),\n    niche_slug:  String(body.niche_slug  ?? '').trim(),\n    search_term: String(body.search_term ?? '').trim(),\n    location:    String(body.location    ?? '').trim(),\n    serpApiKey:  $vars.SERP_API_KEY,\n  }\n}];"
      },
      "id": "a859c566-90f4-4c56-af9b-17af53167b2a",
      "name": "Code – Normalise Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [192, 0]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk",
          "mode": "list",
          "cachedResultName": "Directory_Scraper_Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 342897792,
          "mode": "list",
          "cachedResultName": "Scrape Queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit#gid=342897792"
        },
        "options": {}
      },
      "id": "81cab3e1-fccf-4890-afa5-65f2fc681d72",
      "name": "Google Sheets – Read Scrape Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [192, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gTplF70YFsUfSmjD",
          "name": "KwaadJuice"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\n\n// Find first row where status is exactly 'pending'\nconst pending = allRows.find(item => {\n  const status = String(item.json['status'] ?? '').trim().toLowerCase();\n  return status === 'pending';\n});\n\nif (!pending) {\n  throw new Error('No pending rows in Scrape Queue. All rows are done or errored.');\n}\n\nconst row = pending.json;\n\n// Generate niche_slug here so both paths produce it\nconst nicheSlug = String(row['niche_name'] ?? '').trim()\n  .toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\n\nreturn [{\n  json: {\n    niche_name:  String(row['niche_name']  ?? '').trim(),\n    niche_slug:  nicheSlug,\n    search_term: String(row['search_term'] ?? '').trim(),\n    location:    String(row['location']    ?? '').trim(),\n    row_number:  row['row_number'],\n    serpApiKey:  $vars.SERP_API_KEY,\n  }\n}];"
      },
      "id": "1b3d522d-8906-4412-a616-ce337ee4207e",
      "name": "Code – Get Next Pending Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 304]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "engine",
              "value": "google_maps"
            },
            {
              "name": "q",
              "value": "={{ $json.search_term + ' ' + $json.location }}"
            },
            {
              "name": "type",
              "value": "search"
            },
            {
              "name": "api_key",
              "value": "={{ $json.serpApiKey }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f37cc678-1da8-4814-8da6-1b16010db9d3",
      "name": "SerpApi – Google Maps Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [592, 160],
      "credentials": {
        "serpApi": {
          "id": "lIeYKYlHAUyvZXKR",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "local_results",
        "options": {}
      },
      "id": "85ed4737-8d54-4f60-b568-68ad67e106f6",
      "name": "Split – Individual Business Results",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [800, 160]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Dual-path context: try manual/queue path first, fall back to webhook path\nlet ctx = {};\ntry { ctx = $('Code – Get Next Pending Row').first().json; } catch(e) {}\nif (!ctx.niche_name) {\n  try { ctx = $('Code – Normalise Webhook Input').first().json; } catch(e) {}\n}\n\nfunction extractSuburb(address) {\n  if (!address) return '';\n  let s = address.replace(/,\\s*South Africa\\s*$/i, '').trim();\n  s = s.replace(/,\\s*\\d{4}\\s*$/, '').trim();\n  const parts = s.split(',').map(p => p.trim()).filter(Boolean);\n  if (parts.length >= 2) return parts[parts.length - 2];\n  return parts[parts.length - 1] || '';\n}\n\nreturn items.map(item => {\n  const r = item.json;\n  const website   = r.website ?? '';\n  const address   = r.address ?? '';\n  const placeId   = r.place_id ?? r.data_id ?? (String(r.title ?? '') + '_' + address);\n\n  const googleMapsUrl = placeId\n    ? 'https://www.google.com/maps/place/?q=place_id:' + placeId\n    : (r.links?.directions ?? r.place_id_search ?? '');\n\n  return {\n    json: {\n      niche:           ctx.niche_name,\n      business_name:   r.title ?? '',\n      address:         address,\n      suburb:          extractSuburb(address),\n      phone:           String(r.phone ?? 'N/A'),\n      website:         website,\n      has_website:     website !== '' ? 'TRUE' : 'FALSE',\n      rating:          r.rating ?? '',\n      review_count:    r.reviews ?? 'N/A',\n      google_maps_url: googleMapsUrl,\n      scraped_at:      new Date().toISOString(),\n      _place_id:       placeId,\n    }\n  };\n});"
      },
      "id": "087a8969-6be0-4aa5-b2e2-4f7555d48f05",
      "name": "Code – Extract & Map Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1008, 160]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk",
          "mode": "list",
          "cachedResultName": "Directory_Scraper_Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1275442432,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit#gid=1275442432"
        },
        "options": {}
      },
      "id": "fe12671c-5064-41d1-9966-b69c89fdf884",
      "name": "Google Sheets – Read Existing Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1200, 304],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gTplF70YFsUfSmjD",
          "name": "KwaadJuice"
        }
      }
    },
    {
      "parameters": {},
      "id": "b0768000-d9cb-4abb-8d30-b319e25fb5ad",
      "name": "Merge – New + Existing",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1408, 160]
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();\n\nconst existingUrls = new Set(\n  allItems\n    .filter(item => item.json.row_number !== undefined)\n    .map(item => String(item.json['google_maps_url'] ?? '').trim())\n    .filter(url => url !== '')\n);\n\nconst newResults = allItems.filter(item => item.json.row_number === undefined);\n\nif (newResults.length === 0) {\n  return [];\n}\n\nreturn newResults\n  .filter(item => {\n    const url = String(item.json['google_maps_url'] ?? '').trim();\n    return url !== '' && !existingUrls.has(url);\n  })\n  .map(item => ({ json: item.json }));"
      },
      "id": "bcea7635-30d8-431c-a954-7f86262f3714",
      "name": "Code – Deduplicate by URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1600, 160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk",
          "mode": "list",
          "cachedResultName": "Directory_Scraper_Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1275442432,
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit#gid=1275442432"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            { "id": "niche",           "displayName": "niche",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "business_name",   "displayName": "business_name",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "address",         "displayName": "address",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "suburb",          "displayName": "suburb",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "phone",           "displayName": "phone",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "website",         "displayName": "website",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "has_website",     "displayName": "has_website",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "rating",          "displayName": "rating",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "review_count",    "displayName": "review_count",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "google_maps_url", "displayName": "google_maps_url", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "scraped_at",      "displayName": "scraped_at",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "_place_id",       "displayName": "_place_id",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": { "cellFormat": "RAW" }
      },
      "id": "8456618e-ec49-4731-9e51-71ec544522d1",
      "name": "Google Sheets – Append to Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1808, 160],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gTplF70YFsUfSmjD",
          "name": "KwaadJuice"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Dual-path: only fires in manual/queue mode where a row_number exists.\n// In webhook mode, Code – Get Next Pending Row never ran, so return [] to skip.\nlet row_number;\ntry {\n  row_number = $('Code – Get Next Pending Row').first()?.json?.row_number;\n} catch(e) {\n  // Webhook path – no queue row to mark done\n  return [];\n}\nif (!row_number) return [];\nreturn [{\n  json: {\n    row_number,\n    scraped_at: new Date().toISOString(),\n    status:     'done'\n  }\n}];"
      },
      "id": "b1903802-a56d-4250-9e6b-50fc104ac7da",
      "name": "Code – Prepare Mark Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 464]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk",
          "mode": "list",
          "cachedResultName": "Directory_Scraper_Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 342897792,
          "mode": "list",
          "cachedResultName": "Scrape Queue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk/edit#gid=342897792"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": ["row_number"],
          "schema": [
            { "id": "row_number",  "displayName": "row_number",  "required": false, "defaultMatch": true,  "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true },
            { "id": "scraped_at",  "displayName": "scraped_at",  "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",      "displayName": "status",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3154ae27-219c-4add-85ec-2b6a69d44294",
      "name": "Google Sheets – Mark Row Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [1008, 464],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "gTplF70YFsUfSmjD",
          "name": "KwaadJuice"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pull all deduplicated listings and derive the niche slug.\n// Works for both webhook path (slug from payload) and manual/queue path (slug derived from niche name).\nconst newListings = $('Code – Deduplicate by URL').all().map(i => i.json);\n\nif (newListings.length === 0) {\n  // Nothing new to write to GitHub — stop this branch cleanly\n  return [];\n}\n\nconst nicheSlug = (newListings[0]?.niche ?? '')\n  .toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\n\nreturn [{ json: { niche_slug: nicheSlug, listings: newListings, count: newListings.length } }];"
      },
      "id": "8bf401c4-8853-4d82-a2e4-6a72032c45d7",
      "name": "Code – Format Ingest Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2016, 160]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $vars.GITHUB_REPO + '/contents/data/' + $json.niche_slug + '.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",       "value": "={{ 'Bearer ' + $vars.GITHUB_TOKEN }}" },
            { "name": "Accept",              "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version","value": "2022-11-28" }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "ddaf12a9-2ac7-4534-8997-cde152d9e273",
      "name": "GitHub – GET Current File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2224, 160]
    },
    {
      "parameters": {
        "jsCode": "const batch = $('Code – Format Ingest Batch').first().json;\nconst ghFile = $input.first().json;\n\n// Handle first-ever write (file doesn't exist yet — GET returned 404)\nlet existing = [];\nlet sha = null;\nif (ghFile.content) {\n  try {\n    const existingRaw = Buffer.from(ghFile.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n    existing = JSON.parse(existingRaw);\n    sha = ghFile.sha ?? null;\n  } catch(e) {\n    existing = [];\n    sha = null;\n  }\n}\n\nconst existingIds = new Set(existing.map(r => r._place_id).filter(Boolean));\nconst toAdd = batch.listings.filter(r => r._place_id && !existingIds.has(r._place_id));\nconst merged = [...existing, ...toAdd];\nconst encoded = Buffer.from(JSON.stringify(merged, null, 2) + '\\n').toString('base64');\n\nreturn [{ json: {\n  niche_slug: batch.niche_slug,\n  sha:        sha,\n  content:    encoded,\n  added:      toAdd.length,\n  total:      merged.length,\n  message:    'chore(data): add ' + toAdd.length + ' listings to ' + batch.niche_slug + '.json [n8n]'\n} }];"
      },
      "id": "5ac80298-c7d8-440b-be1b-d735f87b0c59",
      "name": "Code – Merge & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2432, 160]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/' + $vars.GITHUB_REPO + '/contents/data/' + $json.niche_slug + '.json' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization",       "value": "={{ 'Bearer ' + $vars.GITHUB_TOKEN }}" },
            { "name": "Accept",              "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version","value": "2022-11-28" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, content: $json.content, ...(($json.sha) ? { sha: $json.sha } : {}), branch: $vars.GITHUB_BRANCH ?? 'main' }) }}",
        "options": {}
      },
      "id": "6d2fb03d-774c-4cd6-b462-075c884b1a4b",
      "name": "GitHub – PUT Commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2640, 160]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[
        { "node": "Google Sheets – Read Scrape Queue", "type": "main", "index": 0 }
      ]]
    },
    "Webhook – Trigger from Admin UI": {
      "main": [[
        { "node": "Code – Normalise Webhook Input", "type": "main", "index": 0 }
      ]]
    },
    "Code – Normalise Webhook Input": {
      "main": [[
        { "node": "SerpApi – Google Maps Search", "type": "main", "index": 0 }
      ]]
    },
    "Google Sheets – Read Scrape Queue": {
      "main": [[
        { "node": "Code – Get Next Pending Row", "type": "main", "index": 0 }
      ]]
    },
    "Code – Get Next Pending Row": {
      "main": [[
        { "node": "SerpApi – Google Maps Search", "type": "main", "index": 0 }
      ]]
    },
    "SerpApi – Google Maps Search": {
      "main": [[
        { "node": "Split – Individual Business Results", "type": "main", "index": 0 },
        { "node": "Code – Prepare Mark Done",            "type": "main", "index": 0 }
      ]]
    },
    "Split – Individual Business Results": {
      "main": [[
        { "node": "Code – Extract & Map Fields", "type": "main", "index": 0 }
      ]]
    },
    "Code – Extract & Map Fields": {
      "main": [[
        { "node": "Google Sheets – Read Existing Results", "type": "main", "index": 0 },
        { "node": "Merge – New + Existing",                "type": "main", "index": 0 }
      ]]
    },
    "Google Sheets – Read Existing Results": {
      "main": [[
        { "node": "Merge – New + Existing", "type": "main", "index": 1 }
      ]]
    },
    "Merge – New + Existing": {
      "main": [[
        { "node": "Code – Deduplicate by URL", "type": "main", "index": 0 }
      ]]
    },
    "Code – Deduplicate by URL": {
      "main": [[
        { "node": "Google Sheets – Append to Results", "type": "main", "index": 0 }
      ]]
    },
    "Google Sheets – Append to Results": {
      "main": [[
        { "node": "Code – Format Ingest Batch", "type": "main", "index": 0 }
      ]]
    },
    "Code – Format Ingest Batch": {
      "main": [[
        { "node": "GitHub – GET Current File", "type": "main", "index": 0 }
      ]]
    },
    "GitHub – GET Current File": {
      "main": [[
        { "node": "Code – Merge & Deduplicate", "type": "main", "index": 0 }
      ]]
    },
    "Code – Merge & Deduplicate": {
      "main": [[
        { "node": "GitHub – PUT Commit", "type": "main", "index": 0 }
      ]]
    },
    "Code – Prepare Mark Done": {
      "main": [[
        { "node": "Google Sheets – Mark Row Done", "type": "main", "index": 0 }
      ]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0b410998-9b2b-4586-ba97-f63c5fddf3a6",
  "meta": {
    "instanceId": "f0f910fc8550da54777e0bec9e51d069c92af943197d439592dcb4ca0e24aa45"
  },
  "id": "CeW3xxBZRdAssmFm",
  "tags": []
}
