Directory_Scraper_V1.7.json
{
  "name": "Directory Scraper V1.7",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [11248, 512],
      "id": "2e4db010-add2-4be3-b3cc-d71263e31e6b",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jozi-scrape",
        "options": {}
      },
      "id": "d4726d1c-eb33-4463-a1e8-75bbdbcf2a31",
      "name": "Webhook \u2013 Trigger from Admin UI",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [11248, 208],
      "webhookId": "jozi-scrape-trigger"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first()?.json?.body ?? $input.first()?.json ?? {};\nreturn [{\n  json: {\n    niche_name:  String(body.niche_name  ?? '').trim(),\n    niche_slug:  String(body.niche_slug  ?? '').trim(),\n    search_term: String(body.search_term ?? '').trim(),\n    location:    String(body.location    ?? '').trim(),\n    serpApiKey:  process.env.SERP_API_KEY ?? '',\n  }\n}];"
      },
      "id": "e35cfb89-e69f-45a0-8468-4126e43c69fc",
      "name": "Code \u2013 Normalise Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [11456, 208]
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "options": {}
      },
      "id": "3b5ba7ce-4449-41ba-a6d5-de23d1955643",
      "name": "Google Sheets \u2013 Read Queue (Webhook)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [11664, 208],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Code \u2013 Normalise Webhook Input').first()?.json ?? {};\nconst ctxNiche = String(ctx.niche_name ?? '').trim().toLowerCase();\nconst ctxLoc   = String(ctx.location   ?? '').trim().toLowerCase();\n\nconst allRows = $input.all();\nconst match = allRows.find(item => {\n  const rowNiche  = String(item.json['niche_name'] ?? '').trim().toLowerCase();\n  const rowLoc    = String(item.json['location']   ?? '').trim().toLowerCase();\n  const rowStatus = String(item.json['status']     ?? '').trim().toLowerCase();\n  return rowNiche === ctxNiche && rowLoc === ctxLoc && rowStatus === 'pending';\n});\n\nif (!match) return [];\n\nreturn [{ json: {\n  row_number: match.json['row_number'],\n  scraped_at: new Date().toISOString(),\n  status: 'done'\n} }];"
      },
      "id": "f5d1d2cd-2d6b-486e-9bc4-49827af26d1c",
      "name": "Code \u2013 Find Row (Webhook)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [11872, 208]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": ["row_number"],
          "schema": [
            { "id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true },
            { "id": "scraped_at", "displayName": "scraped_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",     "displayName": "status",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "acbf9afa-db59-4fbc-a522-04830694c957",
      "name": "Google Sheets \u2013 Mark Row Done (Webhook)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [12080, 208],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "options": {}
      },
      "id": "467b8477-850c-4a69-976c-939d3d5ea199",
      "name": "Google Sheets \u2013 Read Scrape Queue",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [11456, 512],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\nconst pending = allRows.find(item => String(item.json['status'] ?? '').trim().toLowerCase() === 'pending');\nif (!pending) throw new Error('No pending rows in Scrape Queue.');\nconst row = pending.json;\nconst nicheSlug = String(row['niche_name'] ?? '').trim().toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\nreturn [{ json: {\n  niche_name:  String(row['niche_name']  ?? '').trim(),\n  niche_slug:  nicheSlug,\n  search_term: String(row['search_term'] ?? '').trim(),\n  location:    String(row['location']    ?? '').trim(),\n  row_number:  row['row_number'],\n  serpApiKey:  process.env.SERP_API_KEY ?? '',\n} }];"
      },
      "id": "4f4022aa-10e2-4e80-a3e6-f8769ac3bc5e",
      "name": "Code \u2013 Get Next Pending Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [11664, 512]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "serpApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "engine",  "value": "google_maps" },
            { "name": "q",       "value": "={{ $json.search_term + ' ' + $json.location }}" },
            { "name": "type",    "value": "search" },
            { "name": "api_key", "value": "={{ $json.serpApiKey }}" }
          ]
        },
        "options": {}
      },
      "id": "f5afb8cf-5c9e-4234-b922-bf14eaf79d84",
      "name": "SerpApi \u2013 Google Maps Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [11872, 368],
      "credentials": { "serpApi": { "id": "lIeYKYlHAUyvZXKR", "name": "SerpAPI account" } }
    },
    {
      "parameters": { "fieldToSplitOut": "local_results", "options": {} },
      "id": "ce2fbc9d-f8f4-484f-b499-592b207be5df",
      "name": "Split \u2013 Individual Business Results",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [12080, 368]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nlet ctx = {};\ntry { ctx = $('Code \u2013 Get Next Pending Row').first().json; } catch(e) {}\nif (!ctx.niche_name) {\n  try { ctx = $('Code \u2013 Normalise Webhook Input').first().json; } catch(e) {}\n}\n\nfunction extractSuburb(address) {\n  if (!address) return '';\n  let s = address.replace(/,\\s*South Africa\\s*$/i, '').trim();\n  s = s.replace(/,\\s*\\d{4}\\s*$/, '').trim();\n  const parts = s.split(',').map(p => p.trim()).filter(Boolean);\n  if (parts.length >= 2) return parts[parts.length - 2];\n  return parts[parts.length - 1] || '';\n}\n\nreturn items.map(item => {\n  const r = item.json;\n  const website = r.website ?? '';\n  const address = r.address ?? '';\n  const placeId = r.place_id ?? r.data_id ?? (String(r.title ?? '') + '_' + address);\n  const googleMapsUrl = placeId ? 'https://www.google.com/maps/place/?q=place_id:' + placeId : '';\n  return { json: {\n    niche:           ctx.niche_name,\n    business_name:   r.title ?? '',\n    address,\n    suburb:          extractSuburb(address),\n    phone:           String(r.phone ?? 'N/A'),\n    website,\n    has_website:     website !== '' ? 'TRUE' : 'FALSE',\n    rating:          r.rating ?? '',\n    review_count:    r.reviews ?? 'N/A',\n    google_maps_url: googleMapsUrl,\n    scraped_at:      new Date().toISOString(),\n    _place_id:       placeId,\n  } };\n});"
      },
      "id": "d4eee4a7-b854-488a-a7fc-90fdf9d07262",
      "name": "Code \u2013 Extract & Map Fields",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12288, 368]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 1275442432, "mode": "list", "cachedResultName": "Results" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": [],
          "schema": [
            { "id": "niche",           "displayName": "niche",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "business_name",   "displayName": "business_name",   "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "address",         "displayName": "address",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "suburb",          "displayName": "suburb",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "phone",           "displayName": "phone",           "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "website",         "displayName": "website",         "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "has_website",     "displayName": "has_website",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "rating",          "displayName": "rating",          "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "review_count",    "displayName": "review_count",    "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "google_maps_url", "displayName": "google_maps_url", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "scraped_at",      "displayName": "scraped_at",      "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "_place_id",       "displayName": "_place_id",       "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": true }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": { "cellFormat": "RAW" }
      },
      "id": "12084c07-5c4c-4b12-b7bb-b8614e78bdce",
      "name": "Google Sheets \u2013 Append to Results",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [12496, 368],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    },
    {
      "parameters": {
        "jsCode": "// Reads directly from Append to Results output — no more dedup node reference.\nconst newListings = $input.all().map(i => i.json);\nif (newListings.length === 0) return [];\nconst nicheSlug = (newListings[0]?.niche ?? '').toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)/g, '');\nconst githubToken  = process.env.GITHUB_TOKEN  ?? '';\nconst githubRepo   = process.env.GITHUB_REPO   ?? '';\nconst githubBranch = process.env.GITHUB_BRANCH ?? 'main';\nreturn [{ json: { niche_slug: nicheSlug, listings: newListings, count: newListings.length, githubToken, githubRepo, githubBranch } }];"
      },
      "id": "1bd005a0-1c22-41f6-99d0-6670a52cad5c",
      "name": "Code \u2013 Format Ingest Batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12704, 368]
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $json.githubRepo + '/contents/data/' + $json.niche_slug + '.json' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization",        "value": "={{ 'Bearer ' + $json.githubToken }}" },
          { "name": "Accept",               "value": "application/vnd.github+json" },
          { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
        ]},
        "options": { "response": { "response": { "neverError": true } } }
      },
      "id": "d0f12505-02e7-4d8a-bb50-de0c79a63947",
      "name": "GitHub \u2013 GET Current File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [12912, 368]
    },
    {
      "parameters": {
        "jsCode": "const batch  = $('Code \u2013 Format Ingest Batch').first().json;\nconst ghFile = $input.first().json;\nlet existing = [], sha = null;\nif (ghFile.content) {\n  try {\n    const raw = Buffer.from(ghFile.content.replace(/\\n/g, ''), 'base64').toString('utf-8');\n    existing = JSON.parse(raw);\n    sha = ghFile.sha ?? null;\n  } catch(e) { existing = []; sha = null; }\n}\nconst existingIds = new Set(existing.map(r => r._place_id).filter(Boolean));\nconst toAdd = batch.listings.filter(r => r._place_id && !existingIds.has(r._place_id));\nconst merged = [...existing, ...toAdd];\nconst encoded = Buffer.from(JSON.stringify(merged, null, 2) + '\\n').toString('base64');\nreturn [{ json: {\n  niche_slug: batch.niche_slug, sha, content: encoded,\n  added: toAdd.length, total: merged.length,\n  message: 'chore(data): add ' + toAdd.length + ' listings to ' + batch.niche_slug + '.json [n8n]',\n  githubToken: batch.githubToken, githubRepo: batch.githubRepo, githubBranch: batch.githubBranch,\n} }];"
      },
      "id": "f0f773fa-54ef-405b-a88c-b603fd3ace29",
      "name": "Code \u2013 Merge & Deduplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [13120, 368]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ 'https://api.github.com/repos/' + $json.githubRepo + '/contents/data/' + $json.niche_slug + '.json' }}",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization",        "value": "={{ 'Bearer ' + $json.githubToken }}" },
          { "name": "Accept",               "value": "application/vnd.github+json" },
          { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.message, content: $json.content, ...($json.sha ? { sha: $json.sha } : {}), branch: $json.githubBranch }) }}",
        "options": {}
      },
      "id": "93253e0e-e7c0-4c3e-aeac-0c60cce4b372",
      "name": "GitHub \u2013 PUT Commit",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [13328, 368]
    },
    {
      "parameters": {
        "jsCode": "// Manual/queue path only.\nlet row_number;\ntry { row_number = $('Code \u2013 Get Next Pending Row').first()?.json?.row_number; } catch(e) { return []; }\nif (!row_number) return [];\nreturn [{ json: { row_number, scraped_at: new Date().toISOString(), status: 'done' } }];"
      },
      "id": "1fc0b3be-1532-4953-ab2b-02bd8a7c2ba3",
      "name": "Code \u2013 Prepare Mark Done",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [12080, 576]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "1kmj91R6G2ltIVUXYKyiSRolHCt_3Fi7tWtwKes1UIRk", "mode": "list", "cachedResultName": "Directory_Scraper_Sheet" },
        "sheetName": { "__rl": true, "value": 342897792, "mode": "list", "cachedResultName": "Scrape Queue" },
        "columns": {
          "mappingMode": "autoMapInputData", "value": {}, "matchingColumns": ["row_number"],
          "schema": [
            { "id": "row_number", "displayName": "row_number", "required": false, "defaultMatch": true,  "display": true, "type": "number", "canBeUsedToMatch": true, "readOnly": true },
            { "id": "scraped_at", "displayName": "scraped_at", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "status",     "displayName": "status",     "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false, "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "db15ab80-2ec3-4464-a398-55d649d6cea4",
      "name": "Google Sheets \u2013 Mark Row Done",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.4,
      "position": [12288, 576],
      "credentials": { "googleSheetsOAuth2Api": { "id": "gTplF70YFsUfSmjD", "name": "KwaadJuice" } }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [[{ "node": "Google Sheets \u2013 Read Scrape Queue", "type": "main", "index": 0 }]]
    },
    "Webhook \u2013 Trigger from Admin UI": {
      "main": [[{ "node": "Code \u2013 Normalise Webhook Input", "type": "main", "index": 0 }]]
    },
    "Code \u2013 Normalise Webhook Input": {
      "main": [[
        { "node": "SerpApi \u2013 Google Maps Search",         "type": "main", "index": 0 },
        { "node": "Google Sheets \u2013 Read Queue (Webhook)", "type": "main", "index": 0 }
      ]]
    },
    "Google Sheets \u2013 Read Queue (Webhook)": {
      "main": [[{ "node": "Code \u2013 Find Row (Webhook)", "type": "main", "index": 0 }]]
    },
    "Code \u2013 Find Row (Webhook)": {
      "main": [[{ "node": "Google Sheets \u2013 Mark Row Done (Webhook)", "type": "main", "index": 0 }]]
    },
    "Google Sheets \u2013 Read Scrape Queue": {
      "main": [[{ "node": "Code \u2013 Get Next Pending Row", "type": "main", "index": 0 }]]
    },
    "Code \u2013 Get Next Pending Row": {
      "main": [[{ "node": "SerpApi \u2013 Google Maps Search", "type": "main", "index": 0 }]]
    },
    "SerpApi \u2013 Google Maps Search": {
      "main": [[
        { "node": "Split \u2013 Individual Business Results", "type": "main", "index": 0 },
        { "node": "Code \u2013 Prepare Mark Done",            "type": "main", "index": 0 }
      ]]
    },
    "Code \u2013 Prepare Mark Done": {
      "main": [[{ "node": "Google Sheets \u2013 Mark Row Done", "type": "main", "index": 0 }]]
    },
    "Split \u2013 Individual Business Results": {
      "main": [[{ "node": "Code \u2013 Extract & Map Fields", "type": "main", "index": 0 }]]
    },
    "Code \u2013 Extract & Map Fields": {
      "main": [[{ "node": "Google Sheets \u2013 Append to Results", "type": "main", "index": 0 }]]
    },
    "Google Sheets \u2013 Append to Results": {
      "main": [[{ "node": "Code \u2013 Format Ingest Batch", "type": "main", "index": 0 }]]
    },
    "Code \u2013 Format Ingest Batch": {
      "main": [[{ "node": "GitHub \u2013 GET Current File", "type": "main", "index": 0 }]]
    },
    "GitHub \u2013 GET Current File": {
      "main": [[{ "node": "Code \u2013 Merge & Deduplicate", "type": "main", "index": 0 }]]
    },
    "Code \u2013 Merge & Deduplicate": {
      "main": [[{ "node": "GitHub \u2013 PUT Commit", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "v1.7-remove-crosssheet-dedup",
  "meta": { "instanceId": "f0f910fc8550da54777e0bec9e51d069c92af943197d439592dcb4ca0e24aa45" },
  "id": "nlN4ejAgnzJ0qIOz",
  "tags": []
}
